body {
	margin: 0;
	font-family: "Inter", sans-serif;
	font-size: 0.9em;
	line-height: 1.5em;
}

tr:nth-child(2n+1) {
	background: #eee;
}

a, a:visited {
	color: #27D;
}

div.hero {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-image: radial-gradient(black 0.1vh, white 0.1vh);
	background-size: 3vh 3vh;
	background-position: center center;
}

div.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 2em;
	align-items: center;
}

.navLogo {
	height: 2em;
}

nav > * {
	margin: 0 0.25em;
	text-decoration: none;
	color: unset !important;
}

nav > a > button {
	margin: 0;
}

.navButton {
	margin-left: 0.5em;
}

button {
	padding: 0.6em 1em;
	color: white;
	background: black;
	border-radius: 0.5em;
	border-style: none;
	margin: 1em 0.5em;
}

table {
	width: 100%;
	border-collapse: collapse;
}

main, footer {
	max-width: 80ch;
	margin: 0 auto;
}

main {
	padding-top: 2em;
	padding-bottom: 1em;
}

footer {
	padding-bottom: 2em;
}

main.heroMain {
	flex-grow: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}