body {
	margin: 0;
	font-family: "Inter", sans-serif;
	font-size: 0.9em;
}

div.hero {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-image: radial-gradient(black 0.1vh, white 0.1vh);
	background-size: 3vh 3vh;
	background-position: center center;
}

div.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

div.heroMain {
	flex-grow: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 2em;
	align-items: center;
}

.navLogo {
	height: 2em;
}

nav > * {
	margin: 0 0.25em;
	text-decoration: none;
	color: unset;
}

.navButton {
	margin-left: 0.5em;
	padding: 0.5em 1em;
	color: white;
	background: black;
	border-radius: 0.5em;
}

main {
	max-width: 80ch;
	margin: 0 auto;
	padding: 2em;
}