{% extends "base.html" %}

{% block content %}
<h1 class="title">Inkjar_</h1>

<div class="t-col">
    <div>
        <yoki src="" />
        <noscript>
            <iframe src=""></iframe>
            <a href=""><button>Access the form in a new window</button></a>
        </noscript>
    </div>
    <div>
        <yoki src="" />
        <noscript>
            <iframe src=""></iframe>
            <a href=""><button>Access the form in a new window</button></a>
        </noscript>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script async defer src="js/yoki.js"></script>
{% endblock scripts %}