<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/style.css" rel="stylesheet">
        <link rel="icon" href="/favicon.png">
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        <link rel="author" href="humans.txt" />
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />
        <script src="/js/lazy-font.js"></script>
        <noscript>
            <link rel="preload" href="https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2" as="font" type="font/woff2" crossorigin />
        </noscript>
    </head>
    <body>
        <nav>
            {% block nav %}
            <p id="top"><a href="/">Inkjar</a></p>
            <ul>
                <li><a href="/divisions">Divisions</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="btns">
                <a href="/apply"><button>Apply</button></a>
                <a href="/commissions"><button>Request a commission</button></a>
            </div>
            {% endblock %}
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <p>&copy; 2021 Inkjar. <a href="/licensing">Some rights reserved.</a></p>
            <p><a href="/imprint">Impressum.</a> <a href="/privacy">We protect your privacy.</a></p>
        </footer>
    </body>
    {% block scripts %}{% endblock %}
</html>
