{% extends "base.html" %}

{%block title%}{{page.title}} at Inkjar{%endblock title%}

{% block content %}
<header lazy-bg="img/division/{{page.slug}}/banner.jpg">
	<h1>{{ page.title }}</h1>
</header>
<main>
	<div class="readable">
		{% if page.extra.apply %}
			<div class="cta">
				<p><b>Interested in becoming a member?</b> The {{page.title | lower}} division has openings. <a href="/apply">Apply today.</a></p>
			</div>
		{% endif %}
		{{ page.content | safe }}
	</div>
</main>
{% endblock content %}

{% block scripts %}
<script async defer src="js/lazy-bg.js"></script>
{% endblock scripts %}