{% extends "base.html" %}

{% block content %}
<div id="hero" lazy-video="video/bg.mp4">
	<img src="img/logos/main.jpg" rel="Inkjar logo" />
	<h2>For artists, by artists.</h2>
	<h1 class="title">We are Inkjar_</h1>
</div>
<main>
	<div id="about" class="t-col">
		<h2>Lorem ipsum</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam est ante, laoreet sit amet eros quis, sodales convallis enim. In tincidunt rutrum neque a bibendum. Nullam imperdiet urna eu libero iaculis, sit amet consectetur enim consectetur. Phasellus sed elit sodales, rutrum ligula quis, consequat orci. Curabitur hendrerit, ipsum ut ornare luctus, purus arcu lacinia eros, quis cursus turpis dui a lorem. Fusce in ex id velit viverra fermentum. Quisque feugiat ante vel ante semper, quis tristique ligula fermentum. Nunc scelerisque lectus sed leo maximus fringilla. Fusce et velit tortor. Vivamus ultricies fermentum volutpat. Maecenas consectetur pellentesque interdum. Nullam in augue eros. Curabitur placerat libero sed consectetur bibendum.</p>
	</div>
	<div>

</main>
{% endblock content %}

{% block scripts %}
<script async defer src="js/lazy-video.js"></script>
{% endblock scripts %}