{% extends "base.html" %}

{%block title%}Inkjar — For artists, by artists.{%endblock title%}

{% block content %}
<div id="hero" lazy-video="video/bg.mp4">
	<h2>By artists, for artists.</h2>
</div>
<main>
	<!--<section id="divisons">
		<h2>what we do</h2>
		<div class="card">
			<img src="/static/svg/camera.svg" rel="Photography" />
			<h2>Photography</h2>
			<p>
				Existing is rather difficult.
			</p>
			<a href="/photography"><button>Learn more</button></a>
		</div>
		<div class="card">
			<img src="/static/svg/brush.svg" rel="Illustration" />
			<h2>Illustration</h2>
			<p>
				Existing is rather difficult.
			</p>
			<a href="/illustration"><button>Learn more</button></a>
		</div>
		<div class="card">
			<img src="/static/svg/code.svg" rel="Web design" />
			<h2>Web design</h2>
			<p>
				Existing is rather difficult.
			</p>
			<a href="/webdesign"><button>Learn more</button></a>
		</div>
	</section>

	<section id="">
		<h2>what we've done</h2>

	</section>-->

	<section id="about" class="t-col">
		<h2>about us</h2>
		<p>
			There is always that one moment in your organization. "Who here can do what?" A couple of timid hands are raised and a team is quickly scrapped together. The work produced takes way too much time, feels underwhelming, and isn't crafted to perfection. Now imagine: quality media from logos, illustration, web design, and more, done on time, on budget, and with phenominal quality.<br/><br/>
			Our studio is founded on the idea that are should be done with quality, and we hope to help you achieve just that. Our hope is to partner you with the best artists, photographers, and developers in our arsenal to create meaningful and impactful work.<br/>
		</p>
	</section>
</main>
{% endblock content %}

{% block scripts %}
<script async defer src="js/lazy-video.js"></script>
{% endblock scripts %}
